{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "htmlWhitespaceSensitivity": "ignore",
  "parser": "vue",
  "TagBracketSameLine": false,
  "disableLanguages": [
    "html", "css"
  ]
}
